---
stages:
  - test

ginkgo:
  stage: test
  image: $CI_REGISTRY/infra/go-builder:latest
  script:
    - ginkgo -r --output-dir reports  --coverprofile coverprofile --junit-report report.xml
  artifacts:
    paths:
      - reports/coverprofile
    reports:
      junit: reports/report.xml

lint:
  stage: test
  image: $CI_REGISTRY/infra/go-builder:latest
  script:
    - golangci-lint run -c .golangci.yml --timeout 10m0s