syntax = "proto3";
package example;

option go_package = "pb/example";

message GetExampleRequest {
  string id = 1;
}

message GetExampleResponse {
  Example example = 1;
}

message Example {
  string id = 1;
  string name = 2;
  string description = 3;
}

service ExampleService {
  rpc GetExample(GetExampleRequest) returns (GetExampleResponse);
}
