package db

import (
	"context"

	sq "github.com/Masterminds/squirrel"
	"{{.GoLibModule}}/db"
	"{{.GoLibModule}}/log"
	"{{.GoLibModule}}/tracing"
	"{{.Module}}/data"
	"github.com/sirupsen/logrus"
	"go.opentelemetry.io/otel/trace"
)

var _ data.DataSource = (*source)(nil)

type options struct {
	t trace.Tracer
	l logrus.FieldLogger
}

type Option func(*options)

func WithTracer(t trace.Tracer) Option {
	return func(opts *options) {
		opts.t = t
	}
}

func WithLogger(l logrus.FieldLogger) Option {
	return func(opts *options) {
		opts.l = l
	}
}

func NewDataSource(database db.Database, o ...Option) data.DataSource {
	opts := &options{
		t: tracing.TracerForPackage(),
		l: log.Nop(),
	}

	for _, opt := range o {
		opt(opts)
	}

	return &source{
		t: opts.t,
		l: opts.l,
		d: database,
	}
}

type source struct {
	t trace.Tracer
	l logrus.FieldLogger
	d db.Database
}

func (s *source) GetExample(ctx context.Context, id string) (*data.Example, error) {
	ctx, span := s.t.Start(ctx, "source.GetExample")
	defer span.End()
	query := sq.
		Select("id", "name", "description").
		From("examples").
		Where(sq.Eq{"id": id}).
		PlaceholderFormat(sq.Dollar)
	sql, args, err := query.ToSql()
	if err != nil {
		s.l.WithError(err).Error("failed to build SQL query")
		return nil, err
	}
	ex := new(data.Example)
	err = s.d.Get(ctx, ex, sql, args...)
	return ex, err
}
