package security

import "{{.GoLibModule}}/authz"

const (
	RoleReader = "example_reader"
	RoleAdmin  = "example_admin"
)

func HTTPPolicyMap() authz.PolicyMap {
	policies := authz.NewPolicyMap()

	readRequirement := authz.RequireAny(RoleReader, RoleAdmin)

	policies.Set(authz.HTTPOperation("GET", "/api/example/{id}"), readRequirement)

	return policies
}

func GRPCPolicyMap() authz.PolicyMap {
	policies := authz.NewPolicyMap()

	readRequirement := authz.RequireAny(RoleReader, RoleAdmin)

	policies.Set(authz.GRPCOperation("/example.ExampleService/GetExample"), readRequirement)

	return policies
}
